<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>HomePage</h1>
    <h3><%= "apnaclg".toUpperCase()%></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, sapiente, consectetur rem magni atque quae totam, eligendi suscipit maxime delectus doloremque aspernatur! Sequi quia enim accusantium recusandae, expedita at quasi!</p>
    <button>ClickMe!</button>
</body>
</html>