<%- include("includes/head.ejs") %>
<body>
    <h1>Dice Gave Value :
        <%= DiceVal %>
        <% if(DiceVal==6){ %>
            <h2>Roll dice again
     <%   } %>
    </h1>
    <%-include("includes/footer.ejs") %>

</body>
</html>